.top-left-container {
    position: absolute;
    top: 15px;
    background: rgba(0, 0, 0, 0.3); /* Softer, semi-transparent background */
    backdrop-filter: blur(8px); /* Blur effect for a frosted glass look */
    padding: 20px;
    border-radius: 12px;
    color: #f1f1f1;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* More prominent shadow */
    gap: 15px;
    font-family: Arial, sans-serif; /* Clean, readable font */
}

.top-left-container > span {
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

label.max-iterations, .color-compression {
    color: #e0e0e0;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

input {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    color: #f1f1f1;
    padding: 6px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

input:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

#theme-select {
    background-color: rgba(100, 83, 83, 0.6);
    color: #f1f1f1;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    width: 100%;
}

#theme-select:hover {
    background-color: rgba(100, 83, 83, 0.8);
}

.button-container {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    width: 100%;
    margin-top: 1.5rem;
}

.button-container button {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    transition: transform 0.3s, background 0.3s;
}

.button-container button:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.3);
}

.button-container button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#screenshot-flash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
    z-index: 1000;
}

input[type="range"] {
    appearance: none;
    width: 100%;
    height: 8px;
    background: #f1f1f1;
    border-radius: 5px;
    outline: none;
    margin: 4px 0;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: rgba(100, 83, 83, 0.6);
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: rgba(100, 83, 83, 0.6);
    border-radius: 50%;
    cursor: pointer;
}
